* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    color: white;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(149, 43, 149);
    padding: 20px 10px;
}

.nav-list {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.active {
    background-color: rgb(255, 85, 201);
    color: #fff;
}

#fa {
    display: none;
}

@media (max-width:450px) {

    .nav-list,
    .letgo {
        display: none;
    }

    #fa {
        display: block;
    }
}